@import
    "base",
    "layout",
    "syntax-highlighting",
    "bootstrap";


* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  padding: 0;
  margin: 0;
  background: rgb(0, 0, 0);
}

.title {
  font-size: 20px;
  font-weight: bold;
}

nav {
  position: fixed;
  background: rgba(0, 0, 0, 0.9);
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: none;
  z-index: 8;
}

header {
  position: fixed;
  width: 100%;
  padding: 0;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.475);
  backdrop-filter: blur(5px);
}

#headerText {
  margin: 5px;
  font-weight: bolder;
  font-size: 25px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 8px;
}

.viewport {
  margin-left: 10%;
  margin-right: 10%;
  /* margin-bottom: 5%; */
}

#architecture {
  padding-top: 5%;
}

.row2 {
  display: inline-block;
}

.contentTitle {
  color: white;
  font-weight: bold;
  font-size: 23px;
  margin-left: 1%;
}

.contentUnit {
  width: 23%;
  height: 23%;
  margin-left: 1%;
  margin-top: 1%;
  margin-bottom: 1%;
  display: inline-block;
}

.desText {
  color: white;
  font-size: 15px;
}

.frame {
  /* width:23%;
height:23%;
margin-left: 1%;
margin-top: 1%;
margin-bottom: 1%; */
  /* margin-left: 10%; */
  overflow: hidden;
  /* display: inline-block; */
}

#sp21 {
  width: 100%;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  /* height:100px; */
  /* overflow: hidden; */
}

#sp21:hover {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
}

#sp20 {
  position: relative;
  left: -47%;
  width: 200%;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

#sp20:hover {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
}

#f20 {
  /* width:100%; */
  width: 200%;

  /* padding-bottom: 1%;
  padding-left: 2%; */
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

#f20:hover {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
}

#f19 {
  width: 100%;
  /* padding-bottom: 1%;
  padding-left: 2%; */
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

#f19:hover {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
}

#art {
  width: 100%;
  /* padding-bottom: 1%;
padding-left: 10%; */
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

#art:hover {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
}

a.contentPhoto:hover {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
}

/* .content {
  /* background-color: rgba(0, 0, 0, 0.905); */
/* }  */


.bottombkg {
  height: 100%;
  width: 100%;
  margin-bottom: 5%;
  padding: 0;
  z-index: 1;
  /* background-color: rgba(0, 0, 0, 0.905); */
  backdrop-filter: blur(5px);
}

.bottom {
  height: 40%;
  width: 100%;
  /* margin-bottom: 10%; */
  padding: 0;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.475);
  backdrop-filter: blur(5px);

}

a:visited {
  text-decoration: none;
  /* decoration: none;
   */
  color: white
}
